.cello-tinTucDs
	.container
		.row
			.col-12
				time.createdDate 
					span.far.fa-calendar
					span 30/12/2018
			.col-lg-8
				h1.title Cách khắc phục khi việc đồng bộ hóa vào Fitbit gặp sự cố
				.briefContent 
					p Bạn đang sở hữu một chiếc Versa, Charge 3 hay Ionic, vậy có khi nào bạn đã gặp phải một vài sự cố trong việc đồng bộ hóa dữ liệu với Fitbit của mình chưa?
				.fullContent
					p Đồng bộ hóa dữ liệu Fitbit với điện thoại hoặc máy tính có nghĩa là mọi dữ liệu đang được lưu trữ trên thiết bị sẽ được chuyển qua ứng dụng Fitbit. Từ đó, bạn có thể kiểm tra sâu hơn và xem lại dữ liệu một cách chi tiết nhất trong lịch sử hoạt động. Nhưng bạn có thể làm gì nếu thiết bị của bạn không chịu đồng bộ hóa? Có vẻ rắc rối bắt đầu từ đây nhỉ? Nhưng không sao, đừng vội lo lắng nhé. Bài viết sau đây sẽ hướng dẫn bạn cách đồng bộ hóa Fitbit của bạn và cách giải quyết khi bạn gặp phải bất cứ sự cố nào trong lúc thực hiện. Hãy cùng Cello theo dõi nhé!
					h3 Cách đồng bộ hóa Fitbit của bạn
					p Đồng bộ hóa dữ liệu trên Fitbit thực sự rất đơn giản, và đó cũng chính là lý do tại sao gây khó chịu khi dữ liệu của bạn dường như không được truyền đi theo ý muốn. Khi thiết bị đeo tay Fitbit được thiết lập một kết nối Bluetooth nhất quán với điện thoại, "em ấy" sẽ sẵn sàng liên kết bất cứ khi nào bạn mở ứng dụng Fitbit. Nếu bạn có ứng dụng đang chạy ẩn, bạn cũng có thể bật "All-Day Sync" (nhấn vào biểu tượng trên thiết bị và cuộn xuống tab All-Day Sync), điều này có nghĩa là việc đồng bộ hóa dữ liệu được thực hiện tự động trong suốt cả ngày đấy nhé!
					p Nếu bạn không muốn như vậy và thay vào đó, bạn thích cho phép thiết bị đồng bộ hóa dữ liệu một cách thủ công, các số liệu thống kê trong điện thoại của bạn sẽ chỉ cập nhật khi bạn vào ứng dụng và thực hiện thao tác mà thôi. Lúc này, bạn chỉ cần vuốt xuống từ màn hình chính của ứng dụng đồng hồ thông minh Fitbit để bắt đầu quá trình chuyển đổi. Sau đó, bạn sẽ thấy biểu tượng màu xanh di chuyển từ trái sang phải ngay phía trên màn hình theo dõi chính.
					h3 Fitbit không đồng bộ hóa?
					p Nhưng nếu bạn đã đảm bảo tất cả những yếu tố trên mà vẫn gặp sự cố, đã đến lúc bắt đầu khắc phục những rắc rối này với các mẹo bên dưới ngay sau đây:
					p + Thực hiện "hard reset" cho ứng dụng Fitbit
					p  Tắt, bật Bluetooth
					p + Tắt, bật Fitbit của bạn
					p + Gỡ cài đặt và cài đặt lại ứng dụng Fitbit
					p + Hãy thử đăng nhập vào tài khoản Fitbit của bạn trên một thiết bị khác
					p + Xóa các thiết bị Fitbit khác khỏi danh sách ứng dụng và Bluetooth
				.socialShare
					a(href="#").facebook
						span.fab.fa-facebook-f
						span Share On Facebook
					a(href="#").twitter
						span.fab.fa-twitter
						span Tweet it
					a(href="#").pinterest
						span.fab.fa-pinterest
					a(href="#").google
						span.fab.fa-google-plus-g
					a(href="#").envelope
						span.fa.fa-envelope
			.col-lg-4
				.otherNews
					h2 Tin tức khác
					ul
						li.item
							.img
								img(src="./img/tintuc-ct/1.png", alt="")
							a.caption(href="tintuc-ct.html")
								time.createdDate
									span.far.fa-calendar
									span 30/12/2018
								h4 So sánh DJI Osmo Pocket và GoPro Hero 7 Black
						li.item
							.img
								img(src="./img/tintuc-ct/1.png", alt="")
							a.caption(href="tintuc-ct.html")
								time.createdDate
									span.far.fa-calendar
									span 30/12/2018
								h4 So sánh DJI Osmo Pocket và GoPro Hero 7 Black
						li.item
							.img
								img(src="./img/tintuc-ct/1.png", alt="")
							a.caption(href="tintuc-ct.html")
								time.createdDate
									span.far.fa-calendar
									span 30/12/2018
								h4 So sánh DJI Osmo Pocket và GoPro Hero 7 Black