section.cello-spList
	.container.productDetail
		.row
			.col-md-4.col-lg-6.col-xl-5.productSlider
				.swiper-container.bigImages
					.swiper-wrapper
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
					.swiper-pagination
				.swiper-container.thumbImages
					.swiper-wrapper
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
						.swiper-slide
							img(src="./img/sanpham-ct/1.png", alt="")
			.col-md-8.col-lg-6.col-xl-7
				.row
					.col-12
						.productInfoBlock-1
							h1 LOA BOSE SOUNDLINK REVOLVE+ BLUETOOTH SPEAKERS
							.code 
								span SKU: 
								span 017817741507
							.brand
								.img
									img(src="./img/sanpham-ct/6.png", alt="")
					.col-xl-7.table
						.priceBox
							.price 5.680.000Đ
							.tr.oldPrice
								span Giá gốc: 
								span 7.990.000 ₫
							.tr.saving
								span Tiết kiệm: 
								span 22% 
								span (441.000 ₫)
						.productInfo
							.tr.status
								span Tình trạng
								span Còn hàng
							.tr.color
								span Màu sắc
								span
									a(href="#").active
										img(src="./img/sanpham-ct/7.png", alt="")
									a(href="#")
										img(src="./img/sanpham-ct/8.png", alt="")
							.tr.quantity
								span Số lượng
								span
									span.decrease -
									input#number(type="text" value="1")
									span.increase +
							.tr
								span Bộ Sản phẩm
								span Loa , Hộp, Adapter, Dây Sạc, Sách Hướng Dẫn, Phiếu bảo hành 
							.tr
								span Bộ Sản phẩm
								span Loa , Hộp, Adapter, Dây Sạc, Sách Hướng Dẫn, Phiếu bảo hành 
						.productButton
							a.btnBuy(href="#") Mua ngay
							a.btnBuy(href="#") Mua trả góp
						.socialShare
							a.facebook(href="#")
								img(src="./img/sanpham-ct/btn-1.png", alt="")
							a.zalo.zalo-share-button(data-href="http://cello.canhcam.gb/tin-tuc/thu-thuat-su-dung/mot-so-thu-thuat-danh-cho-nguoi-moi-su-dung-gopro-hero-5-black" data-customize="true" data-oaid="579745863508352884" data-color="red")
								img(src="./img/sanpham-ct/btn-2.png", alt="")
							a.google(href="#")
								img(src="./img/sanpham-ct/btn-3.png", alt="")
					.col-xl-5
						.giftBox
							h4 
								span.fas.fa-gift
								span QUÀ TẶNG & KHUYẾN MÃI
							.item
								.img
									img(src="./img/sanpham-ct/9.png")
								.caption
									p Bose SountdLink Revolv + Comos Protective Case
									.price
										span Trị giá: 
										span 490.000Đ
							.bottom
								span *
								span Số lượng quà tặng có hạn
						.support
							.block-1
								h5 Tư vấn & Mua hàng
								.hotline
									span 088.805.4168
									.icon
										a(href="#")
											img(src="./img/zalo.png", alt="")
										a(href="#")
											img(src="./img/icon2.png", alt="")
										a(href="#")
											img(src="./img/icon3.png", alt="")
										a(href="#")
											img(src="./img/icon4.png", alt="")
							.block-2
								ul
									li Hàng chính hãng 100% nguyên tem
									li Giao hàng nhanh trong vòng 2h (Tp.HCM)
									li Giao Hàng Thu Tiền tận nơi toàn quốc
									li Thanh toán online nhanh chóng, an toàn
							.block-3
								h5 Hỗ trợ Livechat trực tiếp
								a(href="").fas.fa-comments
							.block-4
								h5 Miễn phí Charge thẻ
								a(href="#")
									img(src="./img/card1.png", alt="")
								a(href="#")
									img(src="./img/card2.png", alt="")
								a(href="#")
									img(src="./img/card3.png", alt="")
	.container.productDetail-2
		.row
			.col-lg-8
				.product-description
					.blockTitle Mô tả sản phẩm
					.content
						h3 Kiểu dáng năng động, độc đáo
						p
							span Loa Bose SoundLink Revolve+ 
							| Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
							span Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
							span Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
							span Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
							span Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
							span Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
							span Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
						p Loa Bose SoundLink Revolve+ Bluetooth Speakers mang vẻ ngoài hiện đại kết hợp chút đường nét cổ điển trông như chiếc đèn măng-xông với quai xách tiện dụng. Loa có kích thước nhỏ gọn cùng trọng lượng 0,9kg nên rất thuận tiện để mang đi theo bên mình, tham dự vào những buổi party dã ngoại thú vị cùng bạn bè và gia đình.
				.video
					.blockTitle Video
					.content
						a(href="https://www.youtube.com/watch?v=mGQLXRTl3Z0" data-fancybox="video")
							img(src="./img/sanpham-ct/11.png", alt="")
							.playbutton
								img(src="./img/play-btn.png", alt="")
				.comments
					.blockTitle Hỏi, đáp về sản phẩm
			.col-lg-4
				.infoDetail
					.blockTitle Thông tin chi Tiết
					.infoBox
						.infoTable
							.tr
								.td Thương hiệu
								.td Bose
							.tr
								.td Thương hiệu
								.td Bose
							.tr
								.td Thương hiệu
								.td Bose
							.tr
								.td Thương hiệu
								.td Bose
							.tr
								.td Thương hiệu
								.td Bose
							.tr
								.td Thương hiệu
								.td Bose
				.productMuaKem
					.blockTitle Thông tin chi Tiết
					.swiper-navigation
						.swiper-button-prev
							span.lnr.lnr-chevron-left
						.swiper-button-next
							span.lnr.lnr-chevron-right
					.swiper-container
						.swiper-wrapper
							- for(i=1;i<=10;i++)
								.swiper-slide.productItem
									a(href="#")
										.top-item
											.img
												img(src="./img/home/item-5.png", alt="")
											.pro
												span -15%
											.gift
												em.fas.fa-gift
												span Quà tặng
											.status
												span New
										.bottom-item
											.name
												h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
											.price
												.old
													span 3.680.000Đ
												.new
													span 2.880.000Đ
										.gift-detail
											.detail-wrapper
												.detail-title
													h5 Quà tặng kèm
													.detail-close
														em.mdi.mdi-close
												.detail-info
													p PMH 500.000đ (Trừ trực tiếp vào giá)
													p Tặng tai nghe Bluetooth Samsung Level U Pro (EO-BN920) trị giá 150.000đ)
													p Áp dụng từ 24/12/2018 đến 31/12/2018 
													p Số lượng quà tặng có hạn!
				.newsRelated
					.blockTitle Tin tức liên quan
					ul
						li.item
							.img
								img(src="./img/tintuc-ct/1.png", alt="")
							a.caption(href="tintuc-ct.html")
								time.createdDate
									span.far.fa-calendar
									span 30/12/2018
								h4 So sánh DJI Osmo Pocket và GoPro Hero 7 Black
						li.item
							.img
								img(src="./img/tintuc-ct/1.png", alt="")
							a.caption(href="tintuc-ct.html")
								time.createdDate
									span.far.fa-calendar
									span 30/12/2018
								h4 So sánh DJI Osmo Pocket và GoPro Hero 7 Black
						li.item
							.img
								img(src="./img/tintuc-ct/1.png", alt="")
							a.caption(href="tintuc-ct.html")
								time.createdDate
									span.far.fa-calendar
									span 30/12/2018
								h4 So sánh DJI Osmo Pocket và GoPro Hero 7 Black
	.container
		.row
			.col-12.productSlider-2
				.blockTitle Sản phẩm tương tự
				.swiper-container
					.swiper-wrapper
						- for(i=1;i<=10;i++)
							.swiper-slide.productItem
								a(href="#")
									.top-item
										.img
											img(src="./img/home/item-5.png", alt="")
										.pro
											span -15%
										.gift
											em.fas.fa-gift
											span Quà tặng
										.status
											span New
									.bottom-item
										.name
											h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
										.price
											.old
												span 3.680.000Đ
											.new
												span 2.880.000Đ
									.gift-detail
										.detail-wrapper
											.detail-title
												h5 Quà tặng kèm
												.detail-close
													em.mdi.mdi-close
											.detail-info
												p PMH 500.000đ (Trừ trực tiếp vào giá)
												p Tặng tai nghe Bluetooth Samsung Level U Pro (EO-BN920) trị giá 150.000đ)
												p Áp dụng từ 24/12/2018 đến 31/12/2018 
												p Số lượng quà tặng có hạn!
			.col-12.productSlider-2
				.blockTitle Sản phẩm đã xem
				.swiper-container
					.swiper-wrapper
						- for(i=1;i<=10;i++)
							.swiper-slide.productItem
								a(href="#")
									.top-item
										.img
											img(src="./img/home/item-5.png", alt="")
										.pro
											span -15%
										.gift
											em.fas.fa-gift
											span Quà tặng
										.status
											span New
									.bottom-item
										.name
											h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
										.price
											.old
												span 3.680.000Đ
											.new
												span 2.880.000Đ
									.gift-detail
										.detail-wrapper
											.detail-title
												h5 Quà tặng kèm
												.detail-close
													em.mdi.mdi-close
											.detail-info
												p PMH 500.000đ (Trừ trực tiếp vào giá)
												p Tặng tai nghe Bluetooth Samsung Level U Pro (EO-BN920) trị giá 150.000đ)
												p Áp dụng từ 24/12/2018 đến 31/12/2018 
												p Số lượng quà tặng có hạn!