section.cello-fanpage(bg-img='./img/home/bg-3.png')
	.container
		.cello-title
			h2 fanpage
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<10;i++)
					.swiper-slide
						
						a(href="javascript:void(0)").item
							.top-item
								.img
									img(src="./img/home/fanpage-1.png", alt="")
								.icon 
									i.mdi.mdi-facebook
							.bottom-item
								.time 
									p 20/12/2018 
									p 10:53:00 AM
								.name
									h5 LOA JBL CHARGE 4 Hot nhất năm 2018 Đã cập bến 
										span #Cello 
										| rồi cả nhà ơiii! 