section.cello-sound
	.container
		.content.row.no-gutters
			.left-content.col-lg-4.col-xl-3
				.title(bg-img='./img/home/bg-2.png')
					h4 Âm thanh cá nhân
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/2.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/1.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/1.png", alt="")
						.swiper-slide
							.item
								a(href="javascript:void(0)")
									img(src="./img/home/1.png", alt="")
					.swiper-next
						em.lnr.lnr-chevron-down
			.right-content.col-lg-8.col-xl-9
				.title
					a(href="javascript:void(0)") Xem tất cả
						em.lnr.lnr-arrow-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							figure
								.img
									img(src="./img/home/item-3.png", alt="")
								figcaption
									.name
										h5 Loa di động Sony GTK-XB90 (Đen)
									.price
										p 8.900.000Đ
						.swiper-slide
							figure
								.img
									img(src="./img/home/item-4.png", alt="")
								figcaption
									.name
										h5 Loa di động Sony GTK-XB90 (Đen)
									.price
										p 8.900.000Đ
						.swiper-slide
							figure
								.img
									img(src="./img/home/item-3.png", alt="")
								figcaption
									.name
										h5 Loa di động Sony GTK-XB90 (Đen)
									.price
										p 8.900.000Đ
						.swiper-slide
							figure
								.img
									img(src="./img/home/item-4.png", alt="")
								figcaption
									.name
										h5 Loa di động Sony GTK-XB90 (Đen)
									.price
										p 8.900.000Đ
						.swiper-slide
							figure
								.img
									img(src="./img/home/item-3.png", alt="")
								figcaption
									.name
										h5 Loa di động Sony GTK-XB90 (Đen)
									.price
										p 8.900.000Đ
						.swiper-slide
							figure
								.img
									img(src="./img/home/item-4.png", alt="")
								figcaption
									.name
										h5 Loa di động Sony GTK-XB90 (Đen)
									.price
										p 8.900.000Đ
					.swiper-pagination