section.cello-lienhe-1
	.container
		.cello-title
			h2 Công Ty TNHH Cello
		.list-item
			.row
				.col-lg-4.item
					figure
						.img
							img(src="./img/lienhe/1.png", alt="")
						figcaption
							h5 Địa chỉ
							p 96A Rạch Bùng Binh, Phường 9,
								br
								| Quận 3, Thành Phố Hồ Chí Minh
				.col-lg-4.item
					figure
						.img
							img(src="./img/lienhe/2.png", alt="")
						figcaption
							h5 Hotline
							p(style='font-size: 20px') 0888054168
							h5 email
							p
								a(href="javascript:void(0)") sale@cello.vn
				.col-lg-4.item
					figure
						.img
							img(src="./img/lienhe/3.png", alt="")
						figcaption
							h5 Thời gian làm việc: 
							p Thứ Hai - Thứ Bảy: 9h-21h 
								br
								| Chủ nhật & Ngày lễ: 9h-20h