section.cello-spNav
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						img(src="./img/home/sub-6.png", alt="")
				.swiper-slide
					a(href="javascript:void(0)")
						span Xem thêm