<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm liên quan - giỏ hàng" value="1" resourcefile="" />
    <add name="Sản phẩm đã xem" value="2" resourcefile="" />
    <add name="Sản phẩm trang chủ - bán chạy" value="4" resourcefile="" />
    <add name="Khuyến mãi - Âm thanh" value="8" resourcefile="" />
    <add name="Khuyến mãi - Tai nghe" value="16" resourcefile="" />
    <add name="Khuyến mãi - Thiết bị đeo tay" value="32" resourcefile="" />
    <add name="Khuyến mãi - Camera" value="64" resourcefile="" />
    <add name="Khuyến mãi - Phụ kiện" value="128" resourcefile="" />
    <add name="Thương hiệu" value="256" resourcefile="" />
    <add name="Sản phẩm mới" value="512" resourcefile="" />
    <add name="Sản phẩm nổi bật" value="1024" resourcefile="" />
    <add name="Sản phẩm bán chạy" value="2048" resourcefile="" />
    <add name="Trang chủ - Sản phẩm Âm thanh" value="4096" resourcefile="" />
  </position>

  <showoption name="Quà tặng" value="1" class="gift op1" />
  <showoption name="Đặt hàng trước" value="2" class="preorder op2" />
  <showoption name="New" value="4" class="new op3" />
  <showoption name="Hết hàng" value="8" class="out op4" />
  <showoption name="Vẫn mua hàng được khi hết hàng" value="16"  />

  <templatelist xsltname="Cello-ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />

  <templatedetail xsltname="Cello-ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>
