section.cello-ttNav
	.container
		.row
			.col-lg.item
				a(href="javascript:void(0)")
					figure
						.img
							img(src="./img/tintuc/1.png", alt="")
						figcaption
							h5 THỦ THUẬT SỬ DỤNG
			.col-lg.item
				a(href="javascript:void(0)")
					figure
						.img
							img(src="./img/tintuc/2.png", alt="")
						figcaption
							h5 THỦ THUẬT SỬ DỤNG
			.col-lg.item
				a(href="javascript:void(0)")
					figure
						.img
							img(src="./img/tintuc/3.png", alt="")
						figcaption
							h5 THỦ THUẬT SỬ DỤNG
			.col-lg.item
				a(href="javascript:void(0)")
					figure
						.img
							img(src="./img/tintuc/4.png", alt="")
						figcaption
							h5 THỦ THUẬT SỬ DỤNG
			.col-lg.item
				a(href="javascript:void(0)")
					figure
						.img
							img(src="./img/tintuc/5.png", alt="")
						figcaption
							h5 THỦ THUẬT SỬ DỤNG