section.cello-tintuc
	.container
		.news-list.news-1
			.row.no-gutters
				.col-lg-8
					.top-news
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/6.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 Hướng dẫn cài đặt, kết nối Fitbit với iPhone, Android và máy tính
												.view-more
													em.far.fa-play-circle
													span Xem thêm
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/6.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 Hướng dẫn cài đặt, kết nối Fitbit với iPhone, Android và máy tính
												.view-more
													em.far.fa-play-circle
													span Xem thêm
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/6.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 Hướng dẫn cài đặt, kết nối Fitbit với iPhone, Android và máy tính
												.view-more
													em.far.fa-play-circle
													span Xem thêm
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/6.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 Hướng dẫn cài đặt, kết nối Fitbit với iPhone, Android và máy tính
												.view-more
													em.far.fa-play-circle
													span Xem thêm
							.swiper-pagination
				.col-lg-4
					.part-news
						.title
							h5 Tin nổi bật
							.swiper-pagination(mapTo='#part-page' mapPoint='576')
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/7.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/7.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/7.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/7.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/7.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/7.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
							#part-page
				.col-12
					.video-list
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/8.png", alt="")
											figcaption
												.play
													em.fas.fa-play
												.title
													h5 Hướng dẫn sử dụng tính năng đo điện tâm đồ ECG trên Apple Watch
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/8.png", alt="")
											figcaption
												.play
													em.fas.fa-play
												.title
													h5 Hướng dẫn sử dụng tính năng đo điện tâm đồ ECG trên Apple Watch
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/8.png", alt="")
											figcaption
												.play
													em.fas.fa-play
												.title
													h5 Hướng dẫn sử dụng tính năng đo điện tâm đồ ECG trên Apple Watch
								.swiper-slide
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/8.png", alt="")
											figcaption
												.play
													em.fas.fa-play
												.title
													h5 Hướng dẫn sử dụng tính năng đo điện tâm đồ ECG trên Apple Watch
						.swiper-nav
							.swiper-prev
								em.lnr.lnr-chevron-left
							.swiper-next
								em.lnr.lnr-chevron-right
		.news-list.news-2
			.row
				.col-12
					.list-title
						h2 Thủ Thuật Sử Dụng
						a(href="javascript:void(0)") Xem tất cả
				.col-12
					.content
						.top-news
							.row
								.col-md-6.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/9.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-6.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/9.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
						.part-news
							.row
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/11.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
		.news-list.news-3
			.row
				.col-12
					.list-title
						h2 Kiến Thức Mua Hàng
				.col-12
					.content
						.row
							.col-lg-6.top-news
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/9.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
							.col-lg-6.part-news
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 20110 cùng Sony!
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 20110 cùng Sony!
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
		.news-list.news-2.hot-list
			.row
				.col-12
					.list-title
						h2 Tin Khuyến Mãi
						a(href="javascript:void(0)") Xem tất cả
				.col-12
					.content
						.part-news
							.row
								.col-md-4.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-4.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/11.png", alt="")
											figcaption
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-4.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/11.png", alt="")
											figcaption
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
		.news-list.news-2
			.row
				.col-12
					.list-title
						h2 Thủ Thuật Sử Dụng
						a(href="javascript:void(0)") Xem tất cả
				.col-12
					.content
						.top-news
							.row
								.col-md-6.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/9.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-6.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/9.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
						.part-news
							.row
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/11.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
								.col-md-3.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
		.news-list.news-3
			.row
				.col-12
					.list-title
						h2 Kiến Thức Mua Hàng
				.col-12
					.content
						.row
							.col-lg-6.top-news
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/9.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!
							.col-lg-6.part-news
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 20110 cùng Sony!
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 20110 cùng Sony!
								.news-item
									a(href="javascript:void(0)").item
										figure
											.img
												img(src="./img/tintuc/10.png", alt="")
											figcaption
												.time
													em.far.fa-calendar
													time 30/12/2018
												.title
													h3 "Trọn đam mê, phê bất tận" - Mừng Tết 2019 cùng Sony!