section.cello-dangnhap
	.container
		.row.justify-content-center
			.col-lg-5.col-xl-4
				.login-panel
					.login-form
						h3.headtitle Đăng nhập
						.panel
							.panel-heading Vui lòng nhập Email & mật khẩu
							.panel-body
								.form-horizontal
									.form-group
										label
											i.lnr.lnr-envelope
										input(type="text" placeholder='Email')
									.form-group
										label
											i.lnr.lnr-lock
										input(type="text" placeholder='Mật khẩu')
									.form-group.form-checkbox
										input(type="checkbox")
										label Lưu mật khẩu
									.form-group.btn-login
										input(type="submit" value='Đăng nhập')
									.form-group.login-method
										p
											span Hoặc
										.btn-list
											a(href="javascript:void(0)").btn.btn-fb
												em.fab.fa-facebook-f
												span facebook
											a(href="javascript:void(0)").btn.btn-gg
												em.fab.fa-google-plus-g
												span google
							.panel-footer
								a(href="javascript:void(0)") Quên mật khẩu
								a(href="javascript:void(0)") ĐĂNG KÝ