section.cello-dangky
	.container
		.row.justify-content-center
			.col-lg-5.col-xl-4
				.register-panel
					.register-form
						h3.headtitle Đăng ký
						.panel
							.panel-heading Vui lòng điền đầy đủ các thông tin bên dưới:
							.panel-body
								.form-horizontal
									.form-group
										label
											i.lnr.lnr-envelope
										input(type="text" placeholder='Email')
									.form-group
										label
											i.lnr.lnr-lock
										input(type="text" placeholder='Mật khẩu')
									.form-group
										label
											i.lnr.lnr-lock
										input(type="text" placeholder='Xác nhận mật khẩu')
									.form-group
										label
											i.lnr.lnr-user
										input(type="text" placeholder='Họ tên')
									.form-group
										label
											i.lnr.lnr-phone
										input(type="text" placeholder='Điện thoại')
									.form-group.custom-select
										label
											i.lnr.lnr-map
										select
											option Tỉnh / Thành phố
									.form-group.form-checkbox
										input(type="checkbox")
										label Nhận các thông tin và chương trình khuyến mãi của Cello qua email.
									.form-group.btn-register
										input(type="submit" value='Đăng ký')
									.form-group.accept
										p Tôi đồng ý với các 
											a(href="javascript:void(0)") điều khoản sử dụng.