section.cello-newsSlide(bg-img='./img/home/bg-2.png')
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="javascript:void(0)") Đánh giá chi tiết Asus All in one V222UAK PC của tương lai
				.swiper-slide
					a(href="javascript:void(0)") Đánh giá chi tiết Asus All in one V222UAK PC của tương lai
				.swiper-slide
					a(href="javascript:void(0)") Đánh giá chi tiết Asus All in one V222UAK PC của tương lai
				.swiper-slide
					a(href="javascript:void(0)") Đánh giá chi tiết Asus All in one V222UAK PC của tương lai
				.swiper-slide
					a(href="javascript:void(0)") Đánh giá chi tiết Asus All in one V222UAK PC của tương lai
				.swiper-slide
					a(href="javascript:void(0)") Đánh giá chi tiết Asus All in one V222UAK PC của tương lai