section.cello-boxes
	.container 
		.row.no-gutters
			.col-lg.item
				figure
					.box-img 
						img.img-fluid(src="./img/home/boxes-1.png", alt="")
					figcaption 
						h3 Khuyến mãi lớn 
						p Chúng tôi cung cấp giá cả cạnh tranh trên nhiều sản phẩm.
			.col-lg.item
				figure
					.box-img 
						img.img-fluid(src="./img/home/boxes-2.png", alt="")
					figcaption 
						h3 Giao hàng miễn phí 
						p Giao hàng miễn phí khắp cả nước với hoá đơn trên 1.000.000 đ
			.col-lg.item
				figure
					.box-img 
						img.img-fluid(src="./img/home/boxes-3.png", alt="")
					figcaption 
						h3 Tự tin mua sắm
						p Bảo vệ người mua hàng từ lúc nhấp chuột đến phân phối.
			.col-lg.item
				figure
					.box-img 
						img.img-fluid(src="./img/home/boxes-4.png", alt="")
					figcaption 
						h3 Trợ giúp 24/7 
						p Trợ giúp hàng ngày cho trải nghiệm mua sắm nhẹ nhàng.
			.col-lg.item
				figure
					.box-img
						img.img-fluid(src="./img/home/boxes-5.png", alt="")
					figcaption 
						h3 Khuyến mãi lớn 
						p Chúng tôi cung cấp giá cả cạnh tranh trên nhiều sản phẩm.
