section.cello-baohanh
	.container
		.row
			.col-lg-6
				.cello-title
					h2 Tra cứu thông tin bảo hành
					p Quý khách vui lòng điền số serial sản phẩm hoặc số điện thoại khi mua hàng, chỉ áp dụng cho sản mua tại Cello
				.search-main
					.custom-select
						select
							option Số điện thoại
					.text-input
						input(type="text" placeholder='Nhập số serial của thiết bị HOẶC số điện thoại...')
						button(type='submit')
							em.fas.fa-search
				.search-results
					h4 Kết quả tra cứu
					.result-wrapper
						.info.table
							.tr
								span.fieldname Tên khách hàng
								span.value Vũ Minh Trí
							.tr
								span.fieldname Số điện thoại
								span.value 088 805 4168
						.product.table
							.tr
								span.fieldname Sản phẩm
								span.value Loa Bose SoundTouch 300 Soundbar
							.tr
								span.fieldname Số Seri
								span.value 017817741132
							.tr
								span.fieldname Ngày Mua
								span.value 25/01/2018
							.tr
								span.fieldname Số Seri
								span.value 25/02/2019

			.col-lg-6
				.note-wrapper
					p Lưu ý từ ngày 15/03/2018 toàn bộ sản phẩm điện tử như loa, tai nghe, camera, vòng đeo tay thông minh... được bảo hành điện tử qua website 
						a(href="javascript:void(0)") http://cello.vn
					p Các sản phẩm bán ra trước đó được hưởng chế độ bảo hành bình thường theo phiếu bảo hành
					p Vui lòng gọi 
						strong 0888054168 
						| nếu Quý khách có thắc mắc về việc bảo hành sản phẩm.

