section.tap-cello-thuonghieu-ct
	.container
		.cello-navTab
			.cello-mbTab Danh sách
			ul.cello-tabList
				li.item(cello-tabItem='1')
					.img 
						img(src="./img/thuonghieu-ct/1.png", alt="")
					p Tai nghe On-Ear
				li.item(cello-tabItem='2') 
					.img 
						img(src="./img/thuonghieu-ct/2.png", alt="")
					p Tai nghe Ear-bud
				li.item(cello-tabItem='3') 
					.img 
						img(src="./img/thuonghieu-ct/3.png", alt="")
					p Tai nghe Headset
				li.item(cello-tabItem='4') 
					.img 
						img(src="./img/thuonghieu-ct/4.png", alt="")
					p HeadAmp
				li.item(cello-tabItem='5') 
					.img 
						img(src="./img/thuonghieu-ct/5.png", alt="")
					p Cáp hỗ trợ
