section.cello-banner-2
	.container
		.row
			.col-lg-6.item
				.img
					a(href="javascript:void(0)")
						img(src="./img/home/banner-1.png", alt="")
			.col-lg-6.item
				.img
					a(href="javascript:void(0)")
						img(src="./img/home/banner-2.png", alt="")