section.cello-thuonghieu-ct
	.container
		.filter-nav
			.select
				.select-show
					span Tính năng
				.select-list
					.select-item test
					.select-item test2
			.select
				.select-show
					span Giá
				.select-list
					.select-item test
					.select-item test2
			
			.select
				.select-show
					span Sắp xếp theo
				.select-list
					.select-item Nổi bật
					.select-item Giá từ thấp đến cao
					.select-item Giá từ cao đến thấp
		.cello-tabContent
			.row.list-item.no-gutters(cello-tabContent='1').active
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.gift
							em.fas.fa-gift
							span Quà tặng
						.status
							span New
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
					.gift-detail
						.detail-wrapper
							.detail-title
								h5 Quà tặng kèm
								.detail-close
									em.mdi.mdi-close
							.detail-info
								p PMH 500.000đ (Trừ trực tiếp vào giá)
								p Tặng tai nghe Bluetooth Samsung Level U Pro (EO-BN920) trị giá 150.000đ)
								p Áp dụng từ 24/12/2018 đến 31/12/2018 
								p Số lượng quà tặng có hạn!
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.gift
							em.fas.fa-gift
							span Quà tặng
						.status
							span New
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
					.gift-detail
						.detail-wrapper
							.detail-title
								h5 Quà tặng kèm
								.detail-close
									em.mdi.mdi-close
							.detail-info
								p PMH 500.000đ (Trừ trực tiếp vào giá)
								p Tặng tai nghe Bluetooth Samsung Level U Pro (EO-BN920) trị giá 150.000đ)
								p Áp dụng từ 24/12/2018 đến 31/12/2018 
								p Số lượng quà tặng có hạn!
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.method
							span đặt hàng trước
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
			.row.list-item.no-gutters(cello-tabContent='2')
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.gift
							em.fas.fa-gift
							span Quà tặng
						.status
							span New
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.gift
							em.fas.fa-gift
							span Quà tặng
						.status
							span New
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.gift
							em.fas.fa-gift
							span Quà tặng
						.status
							span New
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.method
							span đặt hàng trước
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
			.row.list-item.no-gutters(cello-tabContent='3')
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.gift
							em.fas.fa-gift
							span Quà tặng
						.status
							span New
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
				.col-xl-item.col-sm-6.col-md-4.col-lg-3.item
					.top-item
						.img
							img(src="./img/home/item-5.png", alt="")
						.pro
							span -15%
						.method
							span đặt hàng trước
					.bottom-item
						.name
							h5 LOA HARMAN/KARDON ONYX STUDIO 5 (XÁM)
						.price
							.old
								span 3.680.000Đ
							.new
								span 2.880.000Đ
			.row.list-item.no-gutters(cello-tabContent='4')
			.row.list-item.no-gutters(cello-tabContent='5')
