section.cello-banner(bg-img='./img/home/bg-1.png')
	.container
		.row.no-gutters
			.col-lg-8
				.top-banner
					.item
						a(href="javascript:void(0)")
							img(src="./img/home/img-1.png", alt="")
			.col-lg-4
				.part-banner
					.item
						a(href="javascript:void(0)")
							img(src="./img/home/img-2.png", alt="")
					.item
						a(href="javascript:void(0)")
							img(src="./img/home/img-3.png", alt="")
					.item
						a(href="javascript:void(0)")
							img(src="./img/home/img-4.png", alt="")