section.cello-quenMK
	.container
		.row.justify-content-center
			.col-lg-5.col-xl-4
				.forgot-panel
					.forgot-form
						h3.headtitle Quên mật khẩu
						.panel
							.panel-heading Vui lòng nhập địa chỉ email
							.panel-body
								.form-horizontal
									.form-group
										label
											i.lnr.lnr-envelope
										input(type="text" placeholder='Email')
									.form-group.btn-forgot
										input(type="submit" value='Gửi')