section.cello-news
	.container
		.cello-title
			h2 Tin tức
		.row
			.col-lg-4.top-news
				.item
					a(href="javascript:void(0)")
						figure
							.img
								img(src="./img/home/news-1.png", alt="")
							figcaption
								time 30/12/2018
								h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group
			.col-lg-8.part-news
				.row
					.col-md-6
						.item
							a(href="javascript:void(0)")
								figure
									.img
										img(src="./img/home/news-2.png", alt="")
									figcaption
										time 30/12/2018
										h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group
					.col-md-6
						.item
							a(href="javascript:void(0)")
								figure
									.img
										img(src="./img/home/news-2.png", alt="")
									figcaption
										time 30/12/2018
										h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group
					.col-md-6
						.item
							a(href="javascript:void(0)")
								figure
									.img
										img(src="./img/home/news-2.png", alt="")
									figcaption
										time 30/12/2018
										h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group
					.col-md-6
						.item
							a(href="javascript:void(0)")
								figure
									.img
										img(src="./img/home/news-2.png", alt="")
									figcaption
										time 30/12/2018
										h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group
					.col-md-6
						.item
							a(href="javascript:void(0)")
								figure
									.img
										img(src="./img/home/news-2.png", alt="")
									figcaption
										time 30/12/2018
										h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group
					.col-md-6
						.item
							a(href="javascript:void(0)")
								figure
									.img
										img(src="./img/home/news-2.png", alt="")
									figcaption
										time 30/12/2018
										h5 Ngày hội Fossil Group: Giảm giá lên đến 40% các mặt hàng thuộc Fossil Group